{% set products = __SELF__.products %}

<div class="container-fluid">
    <div class="row">
        <div class="front-toolbar">
            <form method="post" data-request="onSearch" data-request-success="" data-request-flash class="form-inline">
                <input type="text" name="search" id="search" />
                <button type="submit" class="btn btn-xs"><i class="material-icons">search</i></button>
            </form>
        </div>
    </div>
{% if can('place.admin') %}
    <div class="row">
        <h4>Quản lý sản phẩm</h4>
        <hr>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <th></th>
                <th>Tên trò chơi</th>
                <th>Giá</th>
                <th>SL</th>
                <th></th>
            </thead>
            <tbody>
        {% for product in products %}
            <tr>
                <td>
                    {% if product.product.images.count %}
                        {% for image in product.product.images|slice(0, 1) %}
                            <img data-src="{{ image.filename }}"
                                 src="{{ product.product.getSquareThumb(50, image) }}"
                                 class="img-responsive"
                                 alt="{{ product.product.title }}" />
                        {% endfor %}
                    {% else %}
                        <img src="http://placehold.it/210x210" class="img-responsive" alt="{{ product.product.title }}">
                    {% endif %}
                </td>
                <td>
                    <a href="{{ product.url }}">{{ product.product.title }}</a>
                </td>
                <td>
                    {{ product.price|number_format(0,',','.') }} {{ currency }}
                </td>
                <td>{{ product.quantity }}</td>
                <td></td>
            </tr>
        {% else %}
            <tr><td colspan="5"><h4 class="text-center">{{ noProductsMessage }}</h4></td></tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <div class="row">
        {% for product in products %}
            <div class="col-sm-3">
                <div class="thumbnail product-card">
                    {% if product.product.images.count %}
                        {% for image in product.product.images|slice(0, 1) %}
                            <img data-src="{{ image.filename }}"
                                 src="{{ image.path }}"
                                 class="img-responsive"
                                 alt="{{ product.product.title }}" />
                        {% endfor %}
                    {% else %}
                        <img src="http://placehold.it/210x210" class="img-responsive" alt="{{ product.product.title }}">
                    {% endif %}
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <p><strong><a href="{{ product.url }}">{{ product.product.title }}</a></strong></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {% if product.product.excerpt %}
                                <p>{{ product.product.excerpt|md }}</p>
                                {% else %}
                                <p>{{ product.product.description|striptags[:100] ~ '...' }}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>Giá: <strong>{{ product.price|number_format(0,',','.') }} {{ currency }}</strong></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{ form_open({ 'class': 'form-inline', 'data-request': 'onAddToCart', 'data-request-flash':'', 'data-request-update':{'shoppingcart':'#homeTopCart'} }) }}
                                <input type="hidden" name="productId" value="{{ product.id }}" />
                                <input type="hidden" name="quantity" value="1" />
                                {% set name = '' %}
                                {% set first = false %}
                                {% for attribute in product.product.productAttributes %}
                                    {% if name != attribute.name %}
                                        {% set name = attribute.name %}
                                        {% set first = true %}
                                        <strong style="display: block">{{ attribute.name }}:</strong>
                                    {% else %}
                                        {% set first = false %}
                                    {% endif %}
                                    <div class="radio" style="display: inline-block;">
                                        <label><input value="{{ attribute.value }}" type="radio" name="attributes[{{ attribute.name }}]" {% if first == true %} checked {% endif %}> {{ attribute.value }}</label>
                                    </div>
                                {% endfor %}
                                <p>&nbsp;</p>

                                <p><button type="submit" class="btn btn-primary btn-block"><i class="fa fa-shopping-cart"></i> Đặt mua</button></p>
                                {{ form_close() }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <h4 class="text-center">{{ noProductsMessage }}</h4>
        {% endfor %}
{% endif %}
</div>
{{ products.render|raw }}
</div>
