.nav.selector-group {
  font-size: 13px;
  letter-spacing: 0.01em;
  margin-bottom: 20px;
}
.nav.selector-group li a {
  padding: 7px 20px 7px 23px;
  color: #95a5a6;
}
.nav.selector-group li.active {
  border-left: 3px solid #e6802b;
  padding-left: 0;
}
.nav.selector-group li.active a {
  padding-left: 20px;
  color: #2b3e50;
}
.nav.selector-group li i[class^="icon-"] {
  font-size: 17px;
  margin-right: 6px;
  position: relative;
  top: 1px;
}
div.panel .nav.selector-group {
  margin: 0 -20px 20px -20px;
}
