{% set place = __SELF__.place %}

<div class="container">
	<div class="well">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">{{ place.name }}</h1>
			</div>
		</div>
		{% if isMember %}
		<div id="profile-page-content" class="row">
			<div id="profile-page-sidebar" class="col-sm-12 col-md-4 col-lg-3">
				<ul class="collection z-depth-1">
					<li class="collection-item">
							<a href="">Giới thiệu<i class="material-icons secondary-content">info</i></a>
					</li>
					<li class="collection-item">
							<a href="">Nhân sự<i class="material-icons secondary-content">assignment_ind</i></a>
					</li>
					<li class="collection-item">
							<a href="/place/{{ place.code_id }}/projects/">Dự án<i class="material-icons secondary-content">work</i></a>
					</li>
					<li class="collection-item">
							<a href="/products/{{ place.id }}">Sản phẩm<i class="material-icons secondary-content">view_module</i></a>
					</li>
					<li class="collection-item">
							<a href="/place/{{ place.code_id }}/blogs/">Tin tức<i class="material-icons secondary-content">chat_bubble</i></a>
					</li>
				</ul>
				{% for account in place.accounts %}
				<div class="panel">
					<div class="panel-heading">
						<h3 class="panel-title">
							{{ account.name }}
							<a href="/place/{{ place.code_id }}/money/{{ account.id }}" class="secondary-content"><i class="fa fa-pencil"></i></a>
						</h3>
					</div>
					<div class="panel-body">
						{{ account.balance|number_format(0, ',', '.') }} {{ account.currency }}
					</div>
				</div>
				{% else %}
				<div class="panel">
					<div class="panel-heading">
						<h3 class="panel-title">
							Thêm tài khoản
							<a href="/place/{{ place.code_id }}/money" class="secondary-content"><i class="fa fa-plus-circle"></i></a>
						</h3>
					</div>
				</div>
				{% endfor %}
			</div>
			<div id="profile-page-wall" class="col-sm-12 col-md-8 col-lg-9">
				{% component "forumEmbedChannel" %}
			</div>
		</div>
		{% else %}
		<div id="profile-page-content" class="row">
			<div id="profile-page-sidebar" class="col-sm-12 col-md-4 col-lg-3">
				<div class="panel panel-default">
					<div class="panel-body">
						<img class="img-responsive center-block" src="{{ place.getLogoThumb(150) }}" alt="{{ place.name }}"/>
						<ul class="collection z-depth-1">
							<li class="collection-item">
								<div class="row">
									<div class="col-lg-2 col-sm-12"><i class="material-icons">phone</i></div>
									<div class="col-lg-10 col-sm-12 text-right">{{ place.phone }}</div>
								</div>
							</li>
							<li class="collection-item">
								<div class="row">
									<div class="col-lg-2 col-sm-12"><i class="material-icons">room</i></div>
									<div class="col-lg-10 col-sm-12 text-right">
										{{ place.street_addr }}<br />
										{{ place.state.name }}<br />
										{{ place.country.name }}
									</div>
								</div>
							</li>
							<li class="collection-item">
								<div class="row">
									<div class="col-lg-2 col-sm-12"><i class="material-icons">search</i></div>
									<div class="col-lg-10 col-sm-12 pull-right">
										<img src="data:image/png;base64, {{ barcodePNG({data: '~place.code_id~', type: 'QRCODE', color: [0,0,0], width: '5', height: '5'}) }}" alt="barcode" />
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div id="profile-page-wall" class="col-sm-12 col-md-8 col-lg-9">
				{{ place.description|raw }}
			</div>
		</div>
		{% endif %}
	</div>
</div>
