<div class="main-footer">
    <div class="row">
        <div class="col-md-4">
            <div class="about">
                <h4 class="footer-title">Kim Thủy Tùng</h4>
                <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="shop-list">
                <h4 class="footer-title">Danh mục sản phẩm</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-angle-right"></i>New Grill Menu</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i>Healthy Fresh Juices</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i>Spicy Delicious Meals</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i>Simple Italian Pizzas</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i>Pure Good Yogurts</a></li>
                    </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="more-info">
                <h4 class="footer-title">Văn phòng</h4>
                    <ul>
                        <li><i class="fa fa-phone"></i>010-020-0340</li>
                        <li><i class="fa fa-globe"></i>123 Dagon Studio, Yakin Street, Digital Estate</li>
                        <li><i class="fa fa-envelope"></i><a href="#">info@kimthuytung.com</a></li>
                    </ul>
            </div>
        </div>
    </div>
</div>
