<div class="top-footer">
    <div class="row">
        <div class="col-md-8">
            <div class="subscribe-form">
                <span>Nhận thông tin mới</span>
                    <form role="form" method="get" class="subscribeForm">
                        <input id="subscribe" type="text" placeholder="Địa chỉ email của bạn" />
                        <input type="submit" id="submitButton" />
                    </form>
            </div>
        </div>
        <div class="col-md-4">
            <div class="social-bottom">
                <span>Kết nối</span>
                    <ul>
                        <li><a href="#" class="fa fa-facebook"></a></li>
                    </ul>
            </div>
        </div>
    </div>
</div>
