<div id="top-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="home-account">
                    <a href="{{ 'home'|page }}" class="white">Trang chủ</a>
                    <a href="#" class="white">Đăng nhập</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="cart-info">
                    <i class="fa fa-shopping-cart"></i>
                    (<a href="#" class="white">0 món - 0 đồng</a>)
                </div>
            </div>
        </div>
    </div>
</div>
