<form
    data-request="onRegister">
    <div class="form-group label-floating">
        <label for="registerName" class="control-label">Họ tên</label>
        <input
            name="name"
            type="text"
            class="form-control"
            id="registerName" />
    </div>

    <div class="form-group label-floating">
        <label for="registerEmail" class="control-label">Email</label>
        <input
            name="email"
            type="email"
            class="form-control"
            id="registerEmail" />
    </div>

    <div class="form-group label-floating">
        <label for="registerPassword" class="control-label">Mật khẩu</label>
        <input
            name="password"
            type="password"
            class="form-control"
            id="registerPassword" />
    </div>

    <button type="submit" class="btn btn-primary btn-raised">Đăng ký</button>
</form>
