==
<!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <p>&copy; 2017 Bản quyền thuộc về Boardgame360.</p>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <span class="pull-right">
                        <a href="https://facebook.com/boardgame360"><i class="fa fa-facebook"></i>   </a>
                        <a href="https://instagram.com/boardgame360"><i class="fa fa-instagram"></i>   </a>
                        <a href="https://plus.google.com/boardgame360"><i class="fa fa-google-plus"></i>   </a>
                    </span>
                </div>
            </div>
        </div>
    </footer>

	<!-- Scripts -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src='/themes/sas-bg360-003/assets/jquery/jquery.min.js'></script>
    <script src='/themes/sas-bg360-003/assets/bootstrap/js/bootstrap.min.js'></script>
    <script src='/themes/sas-bg360-003/assets/bootstrap-material-design/js/ripples.min.js'></script>
    <script src='/themes/sas-bg360-003/assets/bootstrap-material-design/js/material.min.js'></script>
    <script src='/themes/sas-bg360-003/assets/javascript/app.js'></script>
    <script src='/themes/sas-bg360-003/assets/javascript/markdown.js'></script>
    <script src='/themes/sas-bg360-003/assets/javascript/bootstrap-markdown.js'></script>
    <script src='/themes/sas-bg360-003/assets/javascript/pickadate/picker.js'></script>
    <script src='/themes/sas-bg360-003/assets/javascript/pickadate/picker.date.js'></script>
    <script src='/themes/sas-bg360-003/assets/javascript/pickadate/picker.time.js'></script>
    <script src='/themes/sas-bg360-003/assets/javascript/pickadate/legacy.js'></script>
    <script src='/themes/sas-bg360-003/assets/javascript/pickadate/picker.custom.js'></script>
    <script src='/themes/sas-bg360-003/assets/javascript/jquery.mask.min.js'></script>
    <script src='/themes/sas-bg360-003/assets/javascript/jquery.maskMoney.min.js'></script>
    <script src='/themes/sas-bg360-003/assets/javascript/sweetalert.min.js'></script>

{% if this.theme.load_octobercms_framework %}
    {% framework extras %}
{% endif %}

{% scripts %}

{% if this.theme.custom_js %}
<script>
    {{ this.theme.custom_js }}
</script>
{% endif %}
